*.log
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# IDE & Tooling
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Dependencies & Build
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/vendor
Homestead.json
Homestead.yaml

# Storage & Framework Cache (SANGAT PENTING)
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/lsp-*
/storage/logs/*
!/storage/logs/.gitignore